<header class="header">
  <h2>权限列表</h2>
</header>

<div class="content">
  <button class="btn btn-primary" (click)="toAddRole()">添加</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">名称</th>
        <th scope="col">代码</th>
        <th scope="col">操作</th>
     
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of roleList;">
        <td>
          {{ role.name }}
        </td>
       
        <td>
          {{role.code}}
        </td>
        <td><a [routerLink]="['/admin/role/edit',role._id]">编辑</a>|<a [routerLink]="['/admin/role',role._id,'module']">设置模块</a></td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
      (pageChange)="loadPage($event)">
    </ngb-pagination>

  </div>
</div>
