<ion-header>
  <ion-toolbar>
    <ion-title>添加缴费记录</ion-title>
  </ion-toolbar>
</ion-header>

<form (ngSubmit)="OrdersAdd.form.valid&&addOrder()" #OrdersAdd="ngForm">
  <div class="form-group row">
    <label class="col-form-label col-sm-2">公司</label>
    <div class="col-sm-10">
      <select name="company" [(ngModel)]="orders.company" class="form-control" required id="company" #company="ngModel">
        <option *ngFor="let item of companyList" value="{{item._id}}">{{item.company}}</option>
      </select>
      <div [hidden]="company.valid || company.pristine" class="alert alert-danger">
        公司必选
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-sm-2">缴费日期</label>
    <div class="col-sm-10" #order_date>
      < <input required (click)="d1.toggle()" [positionTarget]="rrrrr" type="text" name="fee_date" ngbDatepicker
        #d1="ngbDatepicker" class="form-control" [(ngModel)]="orders.fee_date" autocomplete="off"
        (change)="test($event)">>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-sm-2">缴费期间</label>
    <div class="col-sm-10">
      <month-date-picker name="start_date" [(ngModel)]="orders.start_date" readonly>
      </month-date-picker>
      -
      <month-date-picker name="end_date" [(ngModel)]="orders.end_date" readonly></month-date-picker>


    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-sm-2">缴费金额</label>
    <div class="col-sm-10">
      <input required type="number" name="fee_num" class="form-control" [(ngModel)]="orders.fee_number"
        autocomplete="off" min="0" max="999999">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-sm-2">发票</label>
    <div class="col-sm-10">
      <input ng-true-value="1" ng-false-value="0" type="checkbox" name="fee_invoice" (change)="changeInvoice($event)"
        [(ngModel)]="orders.fee_invoice" autocomplete="off" id="fee_invoice"
        #fee_invoice="ngModel">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input id="fee_invoice_confirm" type="checkbox" name="fee_invoice_confirm"
        [(ngModel)]="orders.fee_invoice_confirm" autocomplete="off">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-sm-2">方式</label>
    <div class="col-sm-10">
      <select name="option" [(ngModel)]="orders.option" class="form-control" required>
        <option value="">请选择方式</option>
        <option value="1">现金-w</option>
        <option value="2">现金-z</option>
        <option value="3">银行</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-sm-2">Description</label>
    <textarea [(ngModel)]="orders.description" placeholder="其他描述" name="description"
      class="form-control col-sm-10"></textarea>
  </div>

  <ion-input type="text" hidden [(ngModel)]="orders._id" name="_id"></ion-input>
  <div class="form-group row">
    <button type="submit" class="btn btn-primary" [disabled]="!OrdersAdd.form.valid">添加缴费记录</button>
  </div>
</form>